h1 {
    font-weight: 700;
}

#mainHeader nav {
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05)
}

#mainHeader > nav > section > select, #mainHeader > nav > section > button  {
    margin: .5rem;
}

h2.pageTitle {
    padding-bottom: 1rem;
}