extends layout

block content
    .container
        .row.my-3.border-bottom
            h3(style="font-family: 'Playfair Display', Georgia, 'Times New Roman', serif")="Recently Added"
        .row
            //- .col-sm
            //-     .card
            //-             img.card-img-top(src="images/book1.jpg", style="align-self:center; width:100%;")
            //- .col-sm
            //-     .card
            //-             img.card-img-top(src="images/book2.jpg", style="align-self:center; width:100%;")
            .col-sm(style="padding-left:0")
                .card
                        img.card-img-top(src="images/book3.jpg", style="align-self:center; width:100%;")
            .col-sm
                .card
                        img.card-img-top(src="images/book4.jpg", style="align-self:center; width:100%;")
            .col-sm
                .card
                        img.card-img-top(src="images/book5.jpg", style="align-self:center; width:100%;")
            .col-sm(style="padding-right:0")
                .card
                        img.card-img-top(src="images/book6.jpg", style="align-self:center; width:100%;")
                            
