<<<<<<< HEAD
.fbLoginButton {
  -webkit-font-smoothing: antialiased;
  border-width: calc-responsive(1, 468, 2, 1920);
  border-style: solid;
  border-radius: 0.25rem;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-size: 1rem;
  text-decoration: none;
  transition: background-color 0.3s, border-color 0.3s;
  background-color: #4c69ba;
  border-color: #4c69ba;
  padding: 0.5rem 1rem 0.5rem 0.5rem;
  align-content: center;
  align-items: center;
  line-height: 1rem;
}

.fbLoginButton:hover {
  text-decoration: none;
  color: #fff;
}

.fbLoginButton > svg {
  width: 1.25rem;
  height: 1.25rem;
  content: url('http://localhost:3000/images/flogo-HexRBG-Wht-72.svg');
  display: inline-block;
  line-height: 1rem;
  margin-right: 1rem;
}
=======
.fbLoginButton {
  -webkit-font-smoothing: antialiased;
  border-width: calc-responsive(1, 468, 2, 1920);
  border-style: solid;
  border-radius: 0.25rem;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-size: 1rem;
  text-decoration: none;
  transition: background-color 0.3s, border-color 0.3s;
  background-color: #4c69ba;
  border-color: #4c69ba;
  padding: 0.5rem 1rem 0.5rem 0.5rem;
  align-content: center;
  align-items: center;
  line-height: 1rem;
}

.fbLoginButton:hover {
  text-decoration: none;
  color: #fff;
}

.fbLoginButton > svg {
  width: 1.25rem;
  height: 1.25rem;
  content: url('http://localhost:3000/images/flogo-HexRBG-Wht-72.svg');
  display: inline-block;
  line-height: 1rem;
  margin-right: 1rem;
}
>>>>>>> 1924a4dbcf3480ddde1c442e6f989c392cee5dc8
